Source: pmu-tools
Section: admin
Priority: optional
Maintainer: nick black <dankamongmen@gmail.com>
Build-Depends: debhelper-compat (= 12), dh-python, python-all
Standards-Version: 4.4.0
Homepage: https://github.com/andikleen/pmu-tools
#Vcs-Browser: https://salsa.debian.org/debian/pmu-tools
#Vcs-Git: https://salsa.debian.org/debian/pmu-tools.git

Package: pmu-tools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Intel PMU profiling tools
 A collection of tools for profile collection and performance
 analysis on Intel CPUs on top of Linux perf. This uses
 performance counters in the CPU.
